@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --A: #071739;
  --B: #4a6382;
  --C: #a4b6c4;
  --D: #cdd4da;
  --E: #a68768;
  --F: #e3c39d;
  --text-color: #fff;
  --light-nav: #cdd4dae0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body {
  background: #f5f5f5;
}
a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.maincontainer {
  padding-left: 10%;
  padding-right: 10%;
}
.actionbtn {
  background: #fff;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.actionbtn {
  background-color: var(--B);
  color: var(--text-color);
  border-radius: 10px;
}
.actionbtn img {
  width: 20px;
  margin-left: 10px;
  color: var(--text-color);
}
.actionbtn.dark-actionbtn {
  background: var(--B);
  /* #212ea0; */
  color: var(--text-color);
}

.carousel-inner {
  height: 800px;
}

.carousel-inner img {
  height: 800px;
  width: 100%;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 5rem !important;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

/* =============== Media query============== */

@media (max-width: 1200px) {
  .maincontainer {
    padding-left: 5%;
    padding-right: 5%;
  }
  .actionbtn {
    padding: 14px 22px;
  }
}
